POSTGRES_DB=aluguel_equipamentos
POSTGRES_USER=aluguel_app
POSTGRES_PASSWORD=altere_esta_senha

ADMIN_INICIAL_HABILITADO=false
ADMIN_INICIAL_NOME=Administrador
ADMIN_INICIAL_EMAIL=admin@empresa.com
ADMIN_INICIAL_SENHA=defina-uma-senha-com-15-ou-mais-caracteres